[Software\BigFix\EnterpriseClient]
EnterpriseClientFolder         = /opt/BESClient

[Software\BigFix\EnterpriseClient\GlobalOptions]
StoragePath                    = /var/opt/BESClient
LibPath                        = /opt/BESClient/BESLib

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer1]
value                          = {{ bigfix_server_url }}/bfmirror/downloads

[Software\BigFix\EnterpriseClient\Settings\Client\__RelayServer2]
value                          = {{ bigfix_server_url }}/bfmirror/downloads